<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>

	<property name="query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property>

	<!-- enable second level caching -->
	<property name="hibernate.cache.provider_class">
		org.hibernate.cache.OSCacheProvider
	</property>

	<property name="hibernate.jdbc.batch_size">20</property>
	<property name="show_sql">false</property>

	<!-- C3PO connection pool provider settings -->
	<property name="hibernate.c3p0.acquire_increment">10</property>
	<property name="hibernate.c3p0.max_size">100</property>
	<property name="hibernate.c3p0.min_size">10</property>
	<property name="hibernate.c3p0.max_statements">50</property>
	<property name="hibernate.c3p0.timeout">300</property>
	<property name="hibernate.c3p0.idle_test_period">3000</property>
	

	<!--  ======================================================= -->
	<!-- 		Mappings							  -->
	<!--  ======================================================= -->

	<mapping
		resource="net/naijatek/myalumni/persistence/hibernate/hbm/LoginHistory.hbm.xml" />
	<mapping
		resource="net/naijatek/myalumni/persistence/hibernate/hbm/ClassNews.hbm.xml" />
	<mapping
		resource="net/naijatek/myalumni/persistence/hibernate/hbm/Members.hbm.xml" />
	<mapping
		resource="net/naijatek/myalumni/persistence/hibernate/hbm/MessageFolder.hbm.xml" />
	<mapping
		resource="net/naijatek/myalumni/persistence/hibernate/hbm/PrivateMessage.hbm.xml" />
	<mapping
		resource="net/naijatek/myalumni/persistence/hibernate/hbm/Scroll.hbm.xml" />
	<mapping
		resource="net/naijatek/myalumni/persistence/hibernate/hbm/XlatGroup.hbm.xml" />
	<mapping
		resource="net/naijatek/myalumni/persistence/hibernate/hbm/XlatDetail.hbm.xml" />
	<mapping
		resource="net/naijatek/myalumni/persistence/hibernate/hbm/ErrorLog.hbm.xml" />
	<mapping
		resource="net/naijatek/myalumni/persistence/hibernate/hbm/SystemConfig.hbm.xml" />
	<mapping
		resource="net/naijatek/myalumni/persistence/hibernate/hbm/Messenger.hbm.xml" />
	<mapping
		resource="net/naijatek/myalumni/persistence/hibernate/hbm/Reminisce.hbm.xml" />
	<mapping
		resource="net/naijatek/myalumni/persistence/hibernate/hbm/FrontPage.hbm.xml" />


</session-factory>
</hibernate-configuration>
