.list-table {
	border: 1px solid #666;
        font-family:	Verdana, Geneva, Arial, san-serif;
	width: 100%;
	margin: 20px 0 20px 0 !important;
        vertical-align: top;
        margin-left:auto; 
        margin-right:auto;
        background-color: #FFFFFF;
        border:0pt;
}

th,displaytag_td {
	padding: 2px 4px 2px 4px !important;
	text-align: left;
	vertical-align: top;   
}

table th{
    	font-size:		8pt; 
	font-style:		normal; 
	font-family:	Verdana, Geneva, Arial, san-serif;
        font-weight: bold;
        height: 30px;
        vertical-align: middle;
}

thead tr {
	/*background-color: #fc0;*/
        background-color: rgb(225,225,225);
        border-bottom: Black ;
	font-size:		8pt; 
	font-style:		normal; 
	font-family:	Verdana, Geneva, Arial, san-serif;
        font-weight: bold;        
}

th.sorted {
	background-color: rgb(200,200,200);
}

th a,th a:visited {
	color: black;        
}

th a:hover {
	text-decoration: underline;
	color: black;
}

th.sorted a,th.sortable a {
	background-position: right;
	display: block;
	width: 100%;
        color: black;
        
	font-size:		8pt; 
	font-style:		normal; 
	font-family:	Verdana, Geneva, Arial, san-serif;
        font-weight: bold;         
}

th.sortable a {
	background-image: url(../images/arrow_off.png);
        background-repeat: no-repeat;
}

th.order1 a {
	background-image: url(../images/arrow_down.png);
        background-repeat: no-repeat;
}

th.order2 a {
	background-image: url(../images/arrow_up.png);
        background-repeat: no-repeat;
}

tr.odd {
	background-color: #ffffff;
}

tr.tableRowEven,tr.even {
	background-color: #eeeeee;
}

div.exportlinks {
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	margin: 2px 0 10px 0;
	width: 79%;
}

span.export {
	padding: 0 4px 1px 20px;
	display: inline;
	display: inline-block;
	cursor: pointer;
}

span.excel {
	background-image: url(../images/ico_file_excel.png);
}

span.csv {
	background-image: url(../images/ico_file_csv.png);
}

span.xml {
	background-image: url(../images/ico_file_xml.png);
}

span.pdf {
	background-image: url(../images/ico_file_pdf.png);
}

span.rtf {
	background-image: url(../images/ico_file_rtf.png);
}

span.pagebanner {
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	width: 79%;
	margin-top: 10px;
	display: block;
	border-bottom: none;
}

span.pagelinks {
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	width: 79%;
	display: block;
	border-top: none;
	margin-bottom: -5px;
}


.blacktext {
	font-size: 12px;
	color:#222222;
        height: 25px;
        background-color: #ffffff;
    }
        
.listtext {
	font-size: 12px;
	color:#222222;
        background-color:#eeeeee;
        height: 25px;        
}


a.paginater:link {color: #000000; text-decoration: underline; }

a.paginater:visited {color: #000000; text-decoration: none; }

.list-action-header { font-weight: bold; text-align:center; }

.list-center-header {text-align:center; }

.top {vertical-align: top;}