<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>



	<!--=====================================================================
		=             FRONT PAGE SERVICE IMPL                                 =
		=             FRONT PAGE HIBERNATE DAO                                   =
		======================================================================-->
	<!-- Service -->
	<bean id="frontPageService"
		parent="myalumniTransactionController">
		<property name="target">
			<bean
				class="net.naijatek.myalumni.modules.common.service.impl.FrontPageServiceImpl">
				<constructor-arg index="0" ref="frontPageDao" />
			</bean>
		</property>
	</bean>

	<!-- DAO     -->
	<bean id="frontPageDao"
		class="net.naijatek.myalumni.modules.common.persistence.hibernate.FrontPageHibernateDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<!--=====================================================================
		=             SYSTEM TASKS SERVICE IMPL                                 =
		=             SYSTEM TASKS HIBERNATE DAO                                   =
		======================================================================-->
	<!-- Service -->
	<bean id="systemTaskService"
		parent="myalumniTransactionController">
		<property name="target">
			<bean
				class="net.naijatek.myalumni.modules.common.service.impl.SystemTaskServiceImpl">
				<constructor-arg index="0" ref="systemTaskDao" />
			</bean>
		</property>
	</bean>

	<!-- DAO     -->
	<bean id="systemTaskDao"
		class="net.naijatek.myalumni.modules.common.persistence.hibernate.SystemTasksHibernateDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>


	<!--=====================================================================
		=             MESSAGE FOLDER SERVICE IMPL                               =
		=             MESSAGE FOLDER HIBERNATE DAO                         =
		======================================================================-->
	<!-- Service  -->
	<bean id="mfService" parent="myalumniTransactionController">
		<property name="target">
			<bean
				class="net.naijatek.myalumni.modules.common.service.impl.MessageFolderServiceImpl">
				<constructor-arg index="0" ref="messageFolderDao" />
			</bean>
		</property>
	</bean>

	<!-- DAO -->
	<bean id="messageFolderDao"
		class="net.naijatek.myalumni.modules.common.persistence.hibernate.MessageFolderHibernateDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>


	<!--=====================================================================
		=             PRIVATE MESSAGE SERVICE IMPL                                 =
		=             PRIVATE MESSAGE HIBERNATE DAO                                   =
		======================================================================-->
	<!-- Service  -->
	<bean id="pmService" parent="myalumniTransactionController">
		<property name="target">
			<bean
				class="net.naijatek.myalumni.modules.common.service.impl.PrivateMessageServiceImpl">
				<constructor-arg index="0" ref="pmDao" />
				<constructor-arg index="1" ref="messageFolderDao" />
			</bean>
		</property>
	</bean>

	<!-- DAO -->
	<bean id="pmDao"
		class="net.naijatek.myalumni.modules.common.persistence.hibernate.PrivateMessageHibernateDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>



	<!--=====================================================================
		=             MEMBERS SERVICE IMPL                               =
		=             MEMBERS HIBERNATE DAO                         =
		======================================================================-->
	<!-- Service  -->
	<bean id="memberService" parent="myalumniTransactionController">
		<property name="target">
			<bean
				class="net.naijatek.myalumni.modules.common.service.impl.MemberServiceImpl">
				<constructor-arg index="0" ref="memberDao" />
				<constructor-arg index="1" ref="systemConfigDao" />
			</bean>
		</property>
	</bean>

	<!-- DAO -->
	<bean id="memberDao"
		class="net.naijatek.myalumni.modules.common.persistence.hibernate.MemberHibernateDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>


	<!--=====================================================================
		=                                                                       =
		=            ERROR TRACKER SERVICE IMPL                             =
		=            ERROR TRACKER HIBERNATE DAO                            =
		=                                                                       =
		======================================================================-->
	<!-- Service  -->
	<bean id="errorLoggerService"
		parent="myalumniTransactionController">
		<property name="target">
			<bean
				class="net.naijatek.myalumni.modules.common.service.impl.ErrorLogServiceImpl">
				<constructor-arg index="0" ref="errorLoggerDao" />
			</bean>
		</property>
	</bean>

	<!-- DAO  -->
	<bean id="errorLoggerDao"
		class="net.naijatek.myalumni.modules.common.persistence.hibernate.ErrorLogHibernateDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>


	<!--=====================================================================
		=             CLASSNEWS SERVICE IMPL                               =
		=             CLASSNEWS HIBERNATE DAO                         =
		======================================================================-->
	<!-- Service  -->
	<bean id="classNewsService"
		parent="myalumniTransactionController">
		<property name="target">
			<bean
				class="net.naijatek.myalumni.modules.common.service.impl.ClassNewsServiceImpl">
				<constructor-arg index="0" ref="classNewsDao" />
			</bean>
		</property>
	</bean>

	<!-- DAO -->
	<bean id="classNewsDao"
		class="net.naijatek.myalumni.modules.common.persistence.hibernate.ClassNewsHibernateDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<!--=====================================================================
		=             REMINISCE SERVICE IMPL                               =
		=             REMINISCE HIBERNATE DAO                         =
		======================================================================-->
	<!-- Service  -->
	<bean id="reminisceService"
		parent="myalumniTransactionController">
		<property name="target">
			<bean
				class="net.naijatek.myalumni.modules.common.service.impl.ReminisceServiceImpl">
				<constructor-arg index="0" ref="reminisceDao" />
			</bean>
		</property>
	</bean>

	<!-- DAO -->
	<bean id="reminisceDao"
		class="net.naijatek.myalumni.modules.common.persistence.hibernate.ReminisceHibernateDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>




	<!--=====================================================================
		=             TRANSLATION (XLAT) LOOKUP SERVICE IMPL                               =
		=             TRANSLATION (XLAT) LOOKUP HIBERNATE DAO                         =
		======================================================================-->
	<!-- Service  -->
	<bean id="xlatService" parent="myalumniTransactionController">
		<property name="target">
			<bean
				class="net.naijatek.myalumni.modules.common.service.impl.XlatServiceImpl">
				<constructor-arg index="0" ref="xlatDao" />
			</bean>
		</property>
	</bean>

	<!-- DAO -->
	<bean id="xlatDao"
		class="net.naijatek.myalumni.modules.common.persistence.hibernate.XlatHibernateDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>


	<!--=====================================================================
		=             TRANSLATION GROUP (XLATGROUP) LOOKUP SERVICE IMPL          =
		=             TRANSLATION GROUP (XLATGROUP) LOOKUP HIBERNATE DAO         =
		======================================================================-->
	<!-- Service  -->
	<bean id="xlatGroupService"
		parent="myalumniTransactionController">
		<property name="target">
			<bean
				class="net.naijatek.myalumni.modules.common.service.impl.XlatGroupServiceImpl">
				<constructor-arg index="0" ref="xlatGroupDao" />
			</bean>
		</property>
	</bean>

	<!-- DAO -->
	<bean id="xlatGroupDao"
		class="net.naijatek.myalumni.modules.common.persistence.hibernate.XlatGroupHibernateDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<!--=====================================================================
		=                                                                       =
		=             System Config SERVICE IMPL                         =
		=             System Config HIBERNATE DAO                        =
		=                                                                       =
		======================================================================-->
	<!-- Service  -->
	<bean id="systemConfigService"
		parent="myalumniTransactionController">
		<property name="target">
			<bean
				class="net.naijatek.myalumni.modules.common.service.impl.SystemConfigServiceImpl">
				<constructor-arg index="0" ref="systemConfigDao"></constructor-arg>
			</bean>
		</property>
	</bean>

	<!-- DAO -->
	<bean id="systemConfigDao"
		class="net.naijatek.myalumni.modules.common.persistence.hibernate.SystemConfigHibernateDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>


	<!--=====================================================================
		=                                                                       =
		=             USER ACCOUNT SERVICE IMPL                                 =
		=             USER ACCOUNT HIBERNATE DAO                                =
		=                                                                       =
		======================================================================-->
	<!-- Service  -->
	<bean id="userAccountService"
		parent="myalumniTransactionController">
		<property name="target">
			<bean
				class="net.naijatek.myalumni.modules.common.service.impl.UserAccountServiceImpl">
				<constructor-arg index="0" ref="userAccountDao"></constructor-arg>
				<constructor-arg index="1" ref="systemConfigDao" />
			</bean>
		</property>
	</bean>

	<!-- DAO -->
	<bean id="userAccountDao"
		class="net.naijatek.myalumni.modules.common.persistence.hibernate.UserAccountHibernateDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<!--=====================================================================
		=             INSTANT MESSENGER SERVICE IMPL                               =
		=            INSTANT MESSENGER HIBERNATE DAO                         =
		======================================================================-->
	<!-- Service  -->
	<bean id="messengerService"
		parent="myalumniTransactionController">
		<property name="target">
			<bean
				class="net.naijatek.myalumni.modules.common.service.impl.MessengerServiceImpl">
				<constructor-arg index="0" ref="messengerDao" />
			</bean>
		</property>
	</bean>

	<!-- DAO -->
	<bean id="messengerDao"
		class="net.naijatek.myalumni.modules.common.persistence.hibernate.MessengerHibernateDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<!--=====================================================================
		=                                                                       =
		=                       BEAN-DEPENDENT POJO                             =
		=                                                                       =
		======================================================================-->
	<!-- User Container-->
	<bean id="userContainer" singleton="false"
		class="net.naijatek.myalumni.framework.struts.MyAlumniUserContainer">
		<constructor-arg index="0" ref="userAccountService" />
	</bean>


	<!--=====================================================================
		=                                                                       =
		=             FREEMARKER  & MAILER                                      =
		=                                                                       =
		======================================================================-->
	<!-- freemarker config, tell freemarker to find its template files in /jsp/freemaker directory -->
	<bean id="freemarkerConfig"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPath" value="/WEB-INF/templates/" />
	</bean>


	<bean id="freeMarkerTemplate"
		class="net.naijatek.myalumni.util.mail.FreeMarkerTemplateMailerImpl">
		<property name="mailSender" ref="mailSender" />
		<property name="configuration" ref="freemarkerConfig" />
	</bean>

	<bean id="mailSender"
		class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="${mail.smtp.host}" />
		<property name="port" value="${mail.smtp.port}" />
		<property name="username" value="${mail.smtp.username}" />
		<property name="password" value="${mail.smtp.password}" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.socketFactory.fallback">
					false
				</prop>
				<prop key="mail.smtp.socketFactory.port">465</prop>
				<prop key="mail.smtp.socketFactory.class">
					javax.net.ssl.SSLSocketFactory
				</prop>
				<prop key="mail.smtp.timeout">15000</prop><!-- milliseconds -->
			</props>
		</property>
	</bean>


	<bean id="sendMailUtil"
		class="net.naijatek.myalumni.util.mail.SendMailUtil">
		<property name="mailSender" ref="mailSender" />
		<property name="freeMarker" ref="freemarkerConfig" />
	</bean>






</beans>


