/*.menuText { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #FFFFFF; font-weight: bold; }

.menuTextOn { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #3C4780; font-weight: bold; background: #B4CC80; }

.menuText2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #4E5CA4;}
*/


.menuText, .menuText TD, .menuText Table, .menuText TR, .menuText A{ 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	color: #FFFFFF; 
	font-weight: bold; 
	background: #4E5CA4;
	text-decoration:none;
}

.menuTextOn, .menuTextOn TD, .menuTextOn A { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	color: #3C4780; 
	font-weight: bold; 
	background: #B4CC80; 
	text-decoration:none;
}

.menuText2, .menuText2 TD{ 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	color: #4E5CA4;
	font-weight: bold; 
	text-decoration:none;
}
