.menuText, .menuText TD, .menuText A{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	font-weight: bold;
	background: #4E5CA4;
	text-decoration:none;
}

.menuTextOn, .menuTextOn TD, .menuTextOn A {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #3C4780;
	font-weight: bold;
	background: #B4CC80;
	text-decoration:none;
}


body {
	text-decoration: none;
	font-size: 12px; 
	font-family: Tahoma, Verdana, Helvetica, Arial, Sans-serif; 
	/*
	font: 16px/1.95em "Lucida Grande","Lucida Sans Unicode",geneva,verdana,sans-serif;*/
}


select {
	font-size: 12px;
	border-width: 2px;
	/*font-family: "Lucida Grande","Lucida Sans Unicode",geneva,verdana,sans-serif;*/
	font-family: Tahoma, Verdana, Helvetica, Arial, Sans-serif;
}

input {
/*	font-size: 12px;
	font-family: Tahoma, Verdana, Helvetica, Arial, Sans-serif;*/
	width:200px;
	background:url(../images/input.jpg) top no-repeat;
	font: 100% "Lucida Grande","Lucida Sans Unicode",geneva,verdana,sans-serif;
	color:#333;
	border:0;
	padding:7px 10px;
	margin:5px;
	color:#777;	
}

input[type=submit] {
	 cursor:pointer;
	 background:#ff9900;
	 color:#fff;
	 font-weight:bold;
	 width:182px;
	 height:33px;
	 padding:7px 10px;
	 background:url(../images/submit.jpg) top no-repeat;
}

input[type=reset] {
	 cursor:pointer;
	 background:#ff9900;
	 color:#fff;
	 font-weight:bold;
	 width:182px;
	 height:33px;
	 padding:7px 10px;
	 background:url(../images/submit.jpg) top no-repeat;
}

input[type=cancel] {
	 cursor:pointer;
	 background:#ff9900;
	 color:#fff;
	 font-weight:bold;
	 width:182px;
	 height:33px;
	 padding:7px 10px;
	 background:url(../images/submit.jpg) top no-repeat;
}

/*input.button {
    font-family: 'Verdana', 'Geneva', sans-serif;
    background-image:  url("../images/green_button_bg.gif");
    background-repeat: repeat-x;
    background-position: left top;
    border-right:1px solid #5C5D61;
    border-bottom:1px solid #5C5D61;
    border-top:none;
    border-left:none;
    font-size: 80%;
    color:#FFFFFF;
    padding:1px 3px 1px 3px;
    cursor:pointer;
    font-weight:bold;
    display:inline;
}
*/
textarea {
	/*font-size: 12px;
	font-family: Tahoma, Verdana, Helvetica, Arial, Sans-serif;*/
	width:370px;
	height:125px;
	background:url(../images/textarea.jpg) top no-repeat;
	font: 100% "Lucida Grande","Lucida Sans Unicode",geneva,verdana,sans-serif;
	color:#333;
	border:0;
	padding:10px;
	margin:5px;
	color:#777;	
}

p {
	margin:15px 0;
	line-height:19px;
}

TABLE {
	/*color: #000000;*/
	text-decoration: none;
	font-size: 12px;
	/*font-family: "Lucida Grande","Lucida Sans Unicode",geneva,verdana,sans-serif;*/
	font-family: Tahoma, Verdana, Helvetica, Arial, Sans-serif;
}

blockquote {
	  font: 1.5em/1.8em Georgia, "Times New Roman", Times, serif;
	  background: url(../images/close-quote.gif) no-repeat right bottom;
	  padding-left: 18px;
	  text-indent: -18px;
	  color:#888;
	  margin:20px 0;
}

blockquote:first-letter {
	background: url(../images/open-quote.gif) no-repeat left top;
    padding-left: 18px;
}


A {
	text-decoration: underline;
	color: #000000
}

A:link {
	color: #000000;
}

A:visited {
	color: #000000;
}

A:active {
	color: #000000;
}

A:hover {
	color:#0066CC;
	text-decoration: none;
}

.bg0 {
	background-color:#B4CC80;
	font-weight:bold;
	color:#4E5CA4;
}

.bgH {
	background-color:#E9DDC3;
}

.row-green {
	background-color: #BBFF8E;
}

.row-red {
	background-color: #FF9F9F;
}

.row-yellow {
	background-color: #FFFF97;
}

.fieldlabel {
	font-size: 11px;
	font-family: Tahoma, Verdana, Helvetica, Arial, Sans-serif;
	font-weight: bold;
	color:#777;	
}
/*
.pagetitle {
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	font-family: Tahoma, Verdana, Helvetica, Arial, Sans-serif;
}
*/
.redhighlight {
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	padding-left:5px;
	color: #CC0000;
	font-family: Tahoma, Verdana, Helvetica, Arial, Sans-serif;
}


.graysmall {
	font-style: normal;
	font-size: 10px;
	color: #999999;
	font-family: Tahoma, Verdana, Helvetica, Arial, Sans-serif;
}

.blacksmall {
	font-size: 11px;
	font-style: normal;
	color: #000000;
	font-family: Tahoma, Verdana, Helvetica, Arial, Sans-serif;
}

.redsmall {
	font-style: normal;
	font-size: 11px;
	color: #FF0000;
	font-family: Tahoma, Verdana, Helvetica, Arial, Sans-serif;
}
.greensmall {
	font-style: normal;
	font-size: 11px;
	color: #00CC00;
	font-family: Tahoma, Verdana, Helvetica, Arial, Sans-serif;
}

.blueText{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #4E5CA4;
	font-weight: bold;
	text-decoration:none;
}

.nickname {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: italic;
	color: #FF0000;
	text-decoration: none
}

.maiden {
	font-family: Tahoma, Verdana, Helvetica, Arial, Sans-serif;
	font-size: 10px; font-style: italic;
	color: #FF00FF;
	text-decoration: none
}


.greenTitle{
	color: #228B22;
	font-family: Tahoma;
	font-weight: bold;
	font-size: 18px;
}

.redTitle{
	color: #FF0000;
	font-family: Tahoma;
	font-weight: bold;
	font-size: 18px;
}

.greyTitle{
	color: #999999;
	font-family: Tahoma;
	font-weight: bold;
	font-size: 18px;
}

.goldTitle {
	color: #D1A449;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif; 
	font-weight: bold;
	font-size: 14px;
}

td.quote {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #444444;
    line-height: 125%;
    background-color: #EEE;
    border: #D1D7DC;
    /*border-style: solid;
    border-left-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px; */
    border: 2px dotted;
    border-color:#999;
}



.tborder {
    border: 0px;
    background: #999999;
}


.portlet-section-body {
background: #FFFFFF;
   /* background: #F5F5F5;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 20px;*/
}


.systemMessages
{
font-family: Verdana; /* Font Face */
font-size: 9pt; /* Font Size */
color: rgb(0,132,0); /* Font Color */
font-weight: Bold; /* Font Style */
font-style: normal; /* FontStyle */
text-decoration: none; /* Font Style */
background-color: #FFFFFF; /* Background color */
text-align: Center; /* Align Text */
}


/* --  START -- ERROR MEESAGE COLOR CODES -- */
.infoMessage {
	font-family: Verdana; /* Font Face */
	font-size: 9pt; /* Font Size */
	color: rgb(0, 153, 0); /* Font Color */
	font-weight: Bold; /* Font Style */
	font-style: normal; /* FontStyle */
	text-decoration: none; /* Font Style */
	text-align: Center; /* Align Text */
}

.warnMessage {
	font-family: Verdana; /* Font Face */
	font-size: 9pt; /* Font Size */
	color: rgb(255, 153, 0); /* Font Color */
	font-weight: Bold; /* Font Style */
	font-style: normal; /* FontStyle */
	text-decoration: none; /* Font Style */
	text-align: Center; /* Align Text */
}

.errorMessage {
	font-family: Verdana; /* Font Face */
	font-size: 9pt; /* Font Size */
	color: #C90D4F; /* Font Color */
	font-weight: Bold; /* Font Style */
	font-style: normal; /* FontStyle */
	text-decoration: none; /* Font Style */
	text-align: Center; /* Align Text */
}

.fatalMessage {
	font-family: Verdana; /* Font Face */
	font-size: 9pt; /* Font Size */
	color: #ff0000; /* Font Color */
	font-weight: Bold; /* Font Style */
	font-style: normal; /* FontStyle */
	text-decoration: none; /* Font Style */
	text-align: Center; /* Align Text */
}


/*--  END -- ERROR MEESAGE COLOR CODES -- */

.Bold {
	font-weight: bold;
	font-size: 13pt;
	font-family: Verdana, Geneva, Arial, san-serif;
}

.Smallbold {
	font-size: 8pt;
	font-style: normal;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif; 
	font-weight: bold;
}

.activeStatus {
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #228B22;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif; 
}

.inactiveStatus {
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #f00;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif; 
}
/* ------------------------- ADMIN TAB yellow------------------------------ */
	/* admin page bar */
.adminTabBar {
	background-image: url(../images/tabs/admin/admin_bg.gif);
}

/* top of table trim */
.adminTableTrim {
	background-color: #000000;
}

/* table header */
.adminTableHeader {
	background-color: #E5C130;
}

/* bottom of table header */
.adminTableBot {
	background-color: #dddddd;
}


/* -------------------------------- AJAX Suggestion ----------------------- */
.selected { background-color: #f1f1f1; }
#suggestionBox { display:none; border: 1px solid black; }
