.blacksmall {
	font-style: normal;
	font-size: 16px;
	color: #000000;
	font-family: Tahoma, Verdana, Helvetica, Arial, Sans-serif;
}


.fieldlabel {
	font-size: 15px;
	font-family: Tahoma, Verdana, Helvetica, Arial, Sans-serif;
	font-weight: bold;
	color: #999999;
}

.nickname {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: italic;
	color: #FF0000;
	text-decoration: none
}

.maiden {
	font-family: Tahoma, Verdana, Helvetica, Arial, Sans-serif;
	font-size: 10px; font-style: italic;
	color: #FF00FF;
	text-decoration: none
}


.graysmall {
	font-style: normal;
	font-size: 16px;
	color: #FF0000;
	font-family: Tahoma, Verdana, Helvetica, Arial, Sans-serif;
}


