body {
    margin: 0;
    font-family: Helvetica;
    background: #fff;
    color: #000000;
    overflow: hidden;
    -webkit-text-size-adjust: none;
}


body > h1 {
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    line-height: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
    text-overflow: ellipsis;
    color: #FFFFFF;
    background: url(../img/myalumni_bg.png) #FFFFFF repeat-x;
    /*border-bottom: 1px solid #2d3642;*/
}


.button {

    position: absolute;

    top: 8px;

    right: 6px;

    -webkit-border-image: url(../img/iPhoneButton.png) 0 5 0 5;

    -webkit-border-radius: 0;

    border-width: 0 5px 0 5px;

    padding: 0;

    height: 28px;

    line-height: 28px;

    font-size: 12px;

    font-weight: bold;

    color: #FFFFFF;

    text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;

    text-decoration: none;

    background: none;

}


#homeButton {

    display: none;

    left: 6px;

    right: auto;

    top:6px;

    -webkit-border-image: url(../img/backbutton.png) 0 8 0 14;

    border-width: 0 8px 0 8px;

}


.goButton {

    -webkit-border-image: url(../img/iPhoneGoButton.png) 0 5 0 5;

    border-width: 0 5px;

}

/* LIST ITEMS */

body > div,
body > form,
body > ul {
	display: none;
	position: absolute;
	left: 0;
	top: 41px;
	width: 100%;
	min-height: 418px;
	margin: 0;
	padding: 0;
	}


body > *[selected="true"] {
    display: block;
	}


body > #welcome > ul {
	margin: 0;
	padding: 0;
	border-top: 1px solid #e0e0e0;
	}
	
body > ul > li,
body > #welcome > ul > li {
	margin: 0;
    border-bottom: 1px solid #e0e0e0;
    padding: 0;
    font-size: 18px;
    font-weight: bold;
    list-style: none;
    vertical-align: middle;
	clear: both;
	}

body > ul > li > a,
body > #welcome > ul > li > a {
    text-decoration: none;
    color: inherit;
	margin: 0;
	padding: 0;
	display: block;
    background: #fff url(../img/iPhoneArrow.png) right center no-repeat;
	}

body > ul > li > a:active,
body > ul > li > a[selected],
body > #welcome > ul > li > a:active ,
body > #welcome > ul > li > a[selected] {
    background: blue url(../img/iPhoneArrowSelected.png) right center no-repeat;
	}

body > ul > li > a:active > .list-link  p,
body > ul > li > a[selected] > .list-link  p,
body > #welcome > ul > li > a:active > .list-link  p,
body > #welcome > ul > li > a[selected] > .list-link  p {
    color: #fff;
	}

body > ul > li > a > .list-link,
body > #welcome > ul > li > a > .list-link {
	display: table;
    text-decoration: none;
    color: inherit;
	margin: 0;
	padding: 0;
	}

body > ul > li > a > .list-link > span > img {
	float: left;
	width: 70px;
	height: 70px;
	}

body > ul > li > a > .list-link > img {
	width: 70px;
	height: 70px;
	}	
	
   
body > ul > li > a > .list-link > p,
body > #welcome > ul > li > a > .list-link > p {
	display: table-cell;
	vertical-align: middle;
	margin: 0;
	padding: 0 20px 0 10px;
	height: 70px;
	}  
   
.panel {

    box-sizing: border-box;

    padding: 10px;

    background: #c8c8c8 url(../img/pinstripes.png);

}






ul img {

border: none;

}





div p,
div ul {

margin: 10px;

padding: 0;

list-style: none;

}


.about {

float: left;

width: 120px;

clear: none;

margin: 0 0 0 10px;



}


.about h2 {

margin: 0 0 10px 0;

padding: 10px 0;

border-bottom: 1px solid #e0e0e0;

font-size: 22px;

}


.about p {

margin: 0;

font-size: 12px;

}



ul > li {

margin: 0;

    border-bottom: 1px solid #E0E0E0;

clear: both;

}



ul > li .title {

margin: 10px 0 3px 0;

font-size: 16px;

    padding: 0;

clear: both;

color: green;

}



ul > li .description {

margin: 10px 0;

font-size: 12px;

    padding: 0;

clear: both;

}


ul > li .info {

margin: -17px 0 10px 5px;

font-size: 12px;

    padding: 0;

font-weight: bold;

clear: both;

}


/************************************************************************************************/


.dialog {

    position: absolute;

    top: 0;

    width: 100%;

    min-height: 468px;

    z-index: 2;

    background: rgba(0, 0, 0, 0.8);

    padding: 0;

    text-align: right;

}


#spinner {

position: absolute;

    width: 100%;

    min-height: 100%;

top: 41px;

    z-index: 2;

    background: rgba(255, 255, 255, 0.8);

    padding: 0;

    text-align:center;

}

#spinner p {

padding-top:80px;

}


fieldset {

    box-sizing: border-box;

    width: 100%;

    margin: 0;

    border: none;

    padding: 10px 6px;

    background: url(../img/iPhoneToolbar.png) #7388a5 repeat-x;

}


fieldset > h1 {

    margin: 0 10px 0 10px;

    padding: 0;

    font-size: 20px;

    font-weight: bold;

    color: #FFFFFF;

    text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;

    text-align: center;

}


label {

    position: absolute;

    margin: 14px 0 0 6px;

    font-size: 14px;

    color: #BBBBBB;

}


input {

    box-sizing: border-box;

    width: 100%;

    margin: 6px 0 0 0;

    padding: 6px 6px 6px 44px;

    font-size: 16px;

    font-weight: normal;

}


.listen {

background: url(../img/iPhoneArrow.png) 0 0 no-repeat;

padding-left: 20px;

color: #000;

font-size: 1em ;

text-decoration: none;

font-weight: bold;

}


/* Image Reflection */


.reflected-image {

float: right;

height: 250px;

width: 170px;

margin: 10px;

padding: 0;

clear: none;

}


.reflected-image img{

margin: 0;

padding: 0;

}


.reflected-image canvas{

margin: 0;

padding: 0;

}